<p>Next lesson in the tutorial: <a href="https://angular.io/tutorial/toh-pt3">Create a feature component</a></p>

<p>Yoink the styling from</p>
<ul>
    <li><a href="https://tetra-cube.com/dnd/dnd-statblock.html">5e Statblock Generator</a></li>
    <li><a href="https://homebrewery.naturalcrit.com/">Homebrewery</a></li>
    <li><a href="https://homebrewery.naturalcrit.com/share/ByZ1wQltX">Waterdeep Homebrewery Example</a></li>
    <li><a href="https://materialtheme.arcsine.dev/">Angular Material Theme Generator</a></li>
</ul>

<p>Export json from Angular as saveable file 
<a href="https://stackoverflow.com/questions/30288087/is-it-possible-to-write-data-to-a-locally-json-file-with-nothing-but-angular">Stackoverflow</a></p>